<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css">
</head>
<body>

<div id="root" class="container">
  <h2>Register</h2>
  <hr>
  <div class="row">
    <div class="twelve columns">
      <h1></h1>
    </div>
  </div>
</div>

</body>
<script src="https://unpkg.org/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
</html>
